* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*
*Declaración de los colores del documento
*/
$bg-color: #ffffff;
$title-color:#797aa3;
$subtitle-color:#7d9db6;
$text-color:#000000; 
$separtor-color:#cae7b9;
$ODetails-color: #eb9486;
$YDetails-color: #f3de8a;

#loading-page{
    z-index: 1001;
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: $bg-color;
    position: fixed;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    font-family: Helvetica;
    #welcome{
        color: $title-color;
        font-size: 100px;
    }
    #cargando{
        width: 20vh;
        height: 20vh;
        // background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column nowrap;
        color: $title-color;
        font-size: 30px;
        color: $subtitle-color;
    }
}