* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

/*
*Declaración de los colores del documento
*/
$bg-color: #ffffff;
$title-color:#797aa3;
$subtitle-color:#6ba0c8;
$text-color:#000000;
$separtor-color:#cae7b9;
$ODetails-color: #eb9486;
$YDetails-color: #ffeda5;



/*
* Definición de la fuente importada.
* 
* Para usarla, copiar y pegar la primera línea en donde se vaya a usar dicha fuente.
* Si se van a importa   r más fuentes, deben ponerse en la carpeta fonts y seguir este mismo proceso.
*/
@font-face {
    font-family: "Eastman";
    src: url("../../../fonts/EastmanTrial-Black.otf") format("otf");
    font-weight: 600;
    font-style: normal;
}

// @font-face {
//     font-family: "Coolvetica";
//     src: url("../../../fonts/coolvetica\ crammed\ rg.ttf") format("ttf");
//     font-weight: 600;
//     font-style: normal;
// }

html {
    font-family: Helvetica;
    
    scroll-behavior: smooth;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.npage{
    h1{
        font-family:"Eastman";
        font-size: 35px;
	    text-transform: uppercase;
	    color: $title-color;
    }
}

#header {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
    .header {
        min-height: 8vh;
        background-color: $separtor-color, 0;
        transition: .3s ease background-color;
        // box-shadow: 10px 5px 30px $separtor-color;
    }
    .nav-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        max-width: 1300px;
        padding: 0 10px;
        .npage{
            cursor: pointer;
        }
    }
    .nav-list{
        ul{
            list-style: none;
	        position: initial;
	        width: fit-content;
	        height: auto;
	        left: 100%;
	        top: 0;
	        display: block;
	        flex-direction: column;
	        justify-content: center;
	        align-items: center;
	        z-index: 1;
	        overflow-x: hidden;
            transition: .5s ease left;
            &:active{
                left: 0%;
            }
            li{
                display: inline-block;
                &:hover{
                    a{
                        color: $title-color;
                        &:after{
                            transform: translate(-50%, -50%) scale(1);
	                        letter-spacing: initial;
                        }
                    }
                }
                a{
                    font-size: 17px;
                    font-weight: 700;
                    letter-spacing: 2px;
                    text-decoration: none;
                    color: $subtitle-color;
                    text-transform: uppercase;
                    padding: 20px;
                    display: block;
                    transition: 0.3s ease;
                }
            }
        }
    }
}


#presentation {

    .presentation {
       
        background-color: $bg-color;
        // background-color: $YDetails-color;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0;
        position: relative;
        flex-flow: wrap row;
        
        .parrafo{
            display: flex;
            margin-right: 50px;
            text-align: center;
            align-items: center;
            position: absolute;
            width: 410px;
            height: 650px;
            flex-flow: wrap row;
            padding: 10px;
            left: 60px;
            margin-top: 10px;
            border-radius: 40px; 
            // border: 2px solid blue;
            // background-image: linear-gradient(0deg, #6ba0c880 0%, #cae7b980  100%);
            
            #presentationTitle{
                position: relative;
                font-size: 70px;
                width: 100%;
                height: 50px;
                color: $title-color;
                margin-top: -440px;
            }
            

            .presentationIconColor{
                position: absolute;
                top: 250px;
                left: 30px;
                opacity: 0;
                transition: 0.5s ease ;
                // transition: 0.3s ease transform;
                background-color: $bg-color;
               
                img{
                    height: 120px;
                    margin: 20px;
                }&:hover{
                    transform: rotate(15deg);
                    
                }
            }

            .presentationIcon{
                position: absolute;
                top: 250px;
                left: 30px;
               
                img{
                    height: 120px;
                    margin: 20px;
                }
            }
    
        }

        .skills{
            position: absolute;
            flex-flow: wrap row;
            margin-top: 10px;
            width: 600px;
            height: 500px;
            display: flex;
            text-align: start;
            padding-left: 15px;
            right: 60px;
            // border: 2px solid blue;

            .skillTitle{
                position: relative;
                display: flex;
                justify-content: center;
                height: 70px;
                width: 90%;
                margin-bottom: -70px;
                border-radius: 30px;
                line-height: 70px;
                font-size: 50px;
                //background-color: $ODetails-color;
            }
    
            
            .prog-lang,.adobe{
                display: flex;
                flex-flow: column nowrap;
                width: 50%;
                              
                .bar{
                    height: 40px;
                    margin: 2px 0 2px 0;
                    border-radius: 15px;
                    width: 80%;
                    .filler{
                        height: 100%;
                        width: 0%;
                        transition: 0.5s ease;
                        border-radius: 12px 0 0 12px;
                    }
                }
            }

            .skill-title{
                margin: 7% 0 8% 0;
                font-size: 35px;
            }

            .prog-lang .bar{
                border: 2px $text-color solid;
                .filler{
                    background-color: $subtitle-color;
                }
            }
            .adobe .bar{
                border: 2px $text-color solid;
                .filler{
                    background-color: $separtor-color;
                }
            }
        }

    }
}

#biography{
    .biography{
        display: flex;
        position: relative;
        justify-content: center;
	    max-width: 1200px;
	    margin: 0 auto;
        padding: 100px 0;
        
        #Titulo_Bio{
            position: absolute;
            text-align: center;
            font-size: 70px;
            bottom: 400px;
            width: 100vw;
            top: 95px;
            font-weight: bold;
        }

        .Exp_Educ{
            padding: 0px;
            margin: 10px;
            display: flex;
            justify-content: center;
            position: relative;
            left: 0;
            top: 35px;
            height: 750px;
            width: 45vw;

            #OrganizadorRombos{
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;
                position: relative;
                top: 170px;
                width: 600px;
                height: 600px;

                .RomboSolitario{
                    opacity: 0;
                    left: 200px;
                    top: 200px;
                    display: flex;
                    text-align: center;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    width: 165px;
                    height: 165px;
                    transform: rotate(45deg) scale(0,0);
                    background-color: $ODetails-color;
                    transition: 0.5s ease;
                    &:hover{
                        top: 190px;
                        box-shadow: 8px 8px 5px 0px $title-color;
                        
                    }
                    .TextoInfo{
                        transform: rotate(-45deg);
                        font-size: 18px;
                    }
                }

                .RomboInfo{
                    left: 20px;
                    top: 0;
                    display: flex;
                    text-align: center;
                    align-items: center;
                    justify-content: center;
                    padding: 0;
                    margin: 50px;
                    position: relative;
                    width: 165px;
                    height: 165px;
                    transform: rotate(45deg) scale(0,0);
                    background-color: $ODetails-color;
                    transition: 0.5s ease;
                    opacity: 0;
                    &:hover{
                        top: -10px;
                        box-shadow: 8px 8px 5px 0px $title-color;
                    }
                    .TextoInfo{
                        transform: rotate(-45deg);
                        font-size: 18px;
                    }
                }
            }

            #Titulo_Exp{
                position: absolute;
                color: $text-color;
                font-size: 70px;
                bottom: 400px;
                width: 100vw;
                top: 60px;
                left: 40px;
                font-weight: unset;
            }

            #Titulo_Edu{
                position: absolute;
                color: $text-color;
                font-size: 70px;
                bottom: 400px;
                width: 100vw;
                top: 60px;
                left: 110px;
                font-weight: unset;
            }

        }

    }
}

#projects{
    .projects{
        flex-direction: column;
	    max-width: 1200px;
	    margin: 0 auto;
        padding: 100px 0;
        position: relative;
        .projects-header{
            position: relative;
            h1{
                margin-bottom: 50px;
                span{
                    color: $separtor-color;
                }
            }
        }
        .projects-title {
            font-size: 70px;
            font-weight: bold;
            color: $text-color;
            margin-bottom: 10px;
            text-transform: uppercase;
            letter-spacing: .2rem;
            text-align: center;
        }

        .all-projects{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .project-item{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row;
                height: 400px;
                width: 100%;
                margin: 0;
                overflow: hidden;
                border-radius: 0;
                &:nth-child(even){
                    flex-direction: row-reverse;
                }
                .project-info{
                    padding: 30px;
                    flex-basis: 50%;
                    height: 100%;
                    display: flex;
                    align-items: flex-start;
                    justify-content: center;
                    flex-direction: column;
                    background-image: linear-gradient(60deg, $subtitle-color 0%, $title-color 100%);
                    color: $bg-color;
                    .ptitulo{
                        display: block;
                        width: fit-content;
                        font-size: 4rem;
                        font-weight: 500;
                        position: relative;
                        color: transparent;
	                    /*animation: text_reveal .5s ease forwards;*/
	                    animation-delay: 1s;
                        .animationP {
                            position: absolute;
                            top: 0;
                            left: 0;
                            height: 100%;
                            width: 0;
                            background-color: $bg-color;
                            /*animation: text_reveal_box 1s ease;*/
                            animation-delay: .5s;
                        }
                    }
                    .psubtitulo{
                        display: block;
                        width: fit-content;
                        font-size: 1.8rem;
                        font-weight: 500;
                        margin-top: 10px;
                        position: relative;
                        color: transparent;
                        /*animation: text_reveal .5s ease forwards;*/
	                    animation-delay: 1s;
                        .animationP{
                            position: absolute;
                            top: 0;
                            left: 0;
                            height: 100%;
                            width: 0;
                            background-color: $bg-color;
                            /*animation: text_reveal_box 1s ease;*/
                            animation-delay: .5s;
                        }
                    }
                    .ptexto{
                        display: block;
                        width: fit-content;  
                        color: $bg-color;
                        font-size: 1.4rem;
                        margin-top: 5px;
                        line-height: 2.5rem;
                        font-weight: 300;
                        letter-spacing: .05rem;
                        position: relative;
	                    color: transparent;
	                    /*animation: text_reveal .5s ease forwards;*/
	                    animation-delay: 1s;
                        .animationP {
                            position: absolute;
                            top: 0;
                            left: 0;
                            height: 100%;
                            width: 0;
                            background-color: $bg-color;
                            /*animation: text_reveal_box 1s ease;*/
                            animation-delay: .5s;
                        }
                    }
                }
                .project-img{
                    flex-basis: 50%;
                    height: 100%;
                    overflow: hidden;
                    position: relative;
                    &:after{
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0;
                        height: 100%;
                        width: 100%;
                        background-image: linear-gradient(60deg, #458fe4 0%, #485563 100%);
                        opacity: .4;
                    }
                    img{
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        transition: .3s ease transform;
                    }
                    &:hover{
                        img{
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }
    }
}

#photos {
    
    .photos{
        background-color: $bg-color;
        text-align: center;
        max-width: 1200px;
        margin: 0 auto;
        padding: 100px 0;
        display: flex;
        justify-content: center;
        flex-flow: wrap row;
       
        #photoTitle{
            width: 100vw;
            font-size: 60px;
            position: relative;
            text-align: center;
            margin: 10px;
            margin-left: 50px;
            font-weight: bold;
                       
        }

        #photoSubTitle{
            width: 100vw;
            font-size: 30px;
            position: relative;
            text-align: start;
            margin: 10px;
            margin-left: 50px;
            margin-bottom: 30px;
        }

        .display{
            position: relative;
            // background-color: aqua;
            // top: 40px;
            top:0px;
            left: 0px;
            height: 650px;
            width: 100vw;
            display: grid;
            grid-column: 4;
            grid-template-columns: 350px auto 350px;
            grid-template-rows: 300px 300px;
            align-content: center;
            grid-row-gap: 50px;
            padding: 15px;
            overflow-y: hidden;
            opacity: 0;
            transition: 0.8s ease;
            

            .displayPhotoBig{
                grid-column-start: 2;
                grid-column-end: 3;
                grid-row-start: 1;
                grid-row-end: 3;
                overflow-y: hidden;
                img{
                    max-width: 96%;
                    max-height: 98%;
                }

            }

            .displayPhoto{
                // background-color: blue;
                overflow-y: hidden;
                height: 100%;
                width: 100%;
                img{
                    max-width: 97%;
                    max-height: 97%;
                }
            }

            img{
                max-width: 97%;
                max-height: 97%;
                box-shadow: 10px 10px 5px 0px $title-color;
                transition: 0.5s ease;
                &:hover{
                    transform: scale(0.95,0.95);
                    box-shadow: 4px 4px 5px 0px $title-color;
                }
            }
        }
    }
}

#video {
    // background-color: green;
    .video {
        background-color: $bg-color;
        flex-direction: column;
        flex-flow: wrap row;
        text-align: center;
        align-content: center;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
        padding: 100px 0;
        display: flex;

        #videoTitle{
            width: 100vw;
            font-size: 60px;
            position: relative;
            text-align: center;
            margin-bottom: 10px;
            margin-top: 20px;
            font-weight: bold;
           
        }

        #videoSubTitle{
            width: 100vw;
            font-size: 30px;
            position: relative;
            text-align: justify;
            margin-top: 0px;
            padding-right: 50px;
            padding-left: 50px;
            
        }


        .player{
            position: relative;
            width: 100vw;
            height: 650px;
            background-color: $bg-color;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.2s ease;
            opacity: 0;
            transition: 1s ease;
            cursor: pointer;
            video{
                height: 580px;
            }
        }
    }
}

#footer{
    background-image: linear-gradient(60deg, $separtor-color 0%, $YDetails-color 100%);
    .footer{
        min-height: 200px;
        flex-direction: column;
        padding-top: 30px;
        padding-bottom: 10px;
        h2{
            color:$text-color;
            font-weight: 500;
            font-size: 1.8rem;
            letter-spacing: .1rem;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .footer-title {
            font-family: "Eastman";
            font-size: 2.8rem;
            font-weight: 300;
            color: $text-color;
            margin-bottom: 10px;
            text-transform: uppercase;
            letter-spacing: .2rem;
            text-align: center;
            
        }
        

        .social-icon {
            display: flex;
            margin-bottom: 30px;
            .social-item {
                height: 50px;
                width: 50px;
                margin: 0 5px;
                img {
                    filter: grayscale(1);
                    transition: .3s ease filter;
                    &:hover{
                        img{
                            filter: grayscale(0);
                        }
                    }
                }
            }
        }
        p{
            color:$text-color;
            font-size: 1.3rem;
        }
    }
}


/*keyframes*/
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: $bg-color;
	}
}
@keyframes text_reveal_name {
	100% {
		color: crimson;
		font-weight: 500;
	}
}
