<body>
    <!-- Audios -->
    <audio id="Mp3" src="../../../assets/audio/Mp3_song.mp3" loop></audio>
    <audio id="Ogg" src="../../../assets/audio/Ogg_song.ogg" loop></audio>

    <!-- Header -->
    <section id="header">
        <div class="header container">
            <div class="nav-bar">
                <div class="npage">
                    <a href="#presentation">
                        <h1>Portfolio template</h1>
                    </a>
                </div>
                <div class="nav-list">
                    <ul>
                        <li><a href="#presentation" data-after="Presentation">Presentation</a></li>
                        <li><a href="#biography" data-after="Biography">Biography</a></li>
                        <li><a href="#projects" data-after="Projects">Projects</a></li>
                        <li><a href="#photos" data-after="Photos">Photos</a></li>
                        <li><a href="#video" data-after="Video">Video</a></li>
                    </ul>
                </div>
            </div>
    </section>
    <!-- Presentation Section  -->
    <section id="presentation">
        <div class="presentation container">
            
            <div class="parrafo">
                <div id="presentationTitle">Hello! I'm [YourName]</div>
                <div class="presentationIcon">
                    <img src="../../../assets/img/competence2.png" alt="">
                    <img src="../../../assets/img/study2.png" alt="">
                </div>
                <div class="presentationIcon" style="top:400px;left:120px">
                    <img src="../../../assets/img/3d-desing2.png" alt="">
                </div>
                <div class="presentationIconColor">
                <img src="../../../assets/img/competence.png" alt="">
                </div>
                <div class="presentationIconColor" style="left:194px">
                    <img src="../../../assets/img/study.png"  alt="">
                </div>
                <div class="presentationIconColor" style="top:400px;left:120px">
                    <img src="../../../assets/img/3d-design.png" alt="">
                </div>
            </div>
            <div class="skills">
                <div class="skillTitle">SKILLS</div>
                <div class="prog-lang">
                    <div class="skill-title">Programming</div>
                    <div id="js">JavaScript</div>
                    <div id="js-bar" class="bar">
                        <div class="filler"></div>
                    </div>
                    <div id="py">Python</div>
                    <div id="py-bar" class="bar">
                        <div class="filler"></div>
                    </div>
                    <div id="go">Go</div>
                    <div id="go-bar" class="bar">
                        <div class="filler"></div>
                    </div>
                    <div id="java">Java</div>
                    <div id="java-bar" class="bar">
                        <div class="filler"></div>
                    </div>
                </div>
                <div class="adobe">
                    <div class="skill-title">Adobe</div>
                    <div id="ps">Photoshop</div>
                    <div id="ps-bar" class="bar">
                        <div class="filler"></div>
                    </div>
                    <div id="pr">Premiere</div>
                    <div id="pr-bar" class="bar">
                        <div class="filler"></div>
                    </div>
                    <div id="an">Animate</div>
                    <div id="an-bar" class="bar">
                        <div class="filler"></div>
                    </div>
                    <div id="ae">After Effects</div>
                    <div id="ae-bar" class="bar">
                        <div class="filler"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Presentation Section  -->
    <!-- Biography Section -->
    <section id="biography">
        <div class="biography container">

            <div id="Titulo_Bio">BIOGRAPHY</div>

            <!-- Experiencia, educación -->

            <!-- Experiencia -->
            <div class="Exp_Educ">

                <h1 id="Titulo_Exp">Job Experience</h1>

                <div id="OrganizadorRombos">

                    <div class="RomboSolitario">
                        <span class="TextoInfo">Experience info</span>
                    </div>

                    <div class="RomboInfo">
                        <span class="TextoInfo">Experience info</span>
                    </div>

                    <div class="RomboInfo">
                        <span class="TextoInfo">Experience info</span>
                    </div>

                    <div class="RomboInfo">
                        <span class="TextoInfo">Experience info</span>
                    </div>

                    <div class="RomboInfo">
                        <span class="TextoInfo">Experience info</span>
                    </div>

                </div>

            </div>

            <!-- Educación -->
            <div class="Exp_Educ">

                <h1 id="Titulo_Edu">Education</h1>

                <div id="OrganizadorRombos">

                    <div class="RomboSolitario" style="background-color: #6ba0c8;">
                        <span class="TextoInfo">Education info</span>
                    </div>

                    <div class="RomboInfo" style="background-color: #6ba0c8;">
                        <span class="TextoInfo">Education info</span>
                    </div>

                    <div class="RomboInfo" style="background-color: #6ba0c8;">
                        <span class="TextoInfo">Education info</span>
                    </div>

                    <div class="RomboInfo" style="background-color: #6ba0c8;">
                        <span class="TextoInfo">Education info</span>
                    </div>

                    <div class="RomboInfo" style="background-color: #6ba0c8;">
                        <span class="TextoInfo">Education info</span>
                    </div>

                </div>

            </div>

        </div>
    </section>
    <!-- End Biography Section -->
    <!-- Projects Section -->
    <section id="projects">
        <div class="projects container">
            <div class="projects-header">
                <h1 class="projects-title">Recent <span>Projects</span></h1>
            </div>
            <div class="all-projects">
                <div class="project-item">
                    <div class="project-info">
                        <h1 class="ptitulo">Project 1 <span class="animationP"></span></h1>
                        <h2 class="psubtitulo">Coding is Love <span class="animationP"></span></h2>
                        <p class="ptexto">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, iusto cupiditate
                            voluptatum
                            impedit unde rem ipsa distinctio illum quae mollitia ut, accusantium eius odio ducimus illo
                            neque atque libero non sunt harum? Ipsum repellat animi, fugit architecto voluptatum odit
                            et! <span class="animationP"></span></p>
                    </div>
                    <div class="project-img">
                        <img src="../../../assets/img/projects1.jpg" alt="img">
                    </div>
                </div>
                <div class="project-item">
                    <div class="project-info">
                        <h1 class="ptitulo">Project 2 <span class="animationP"></span></h1>
                        <h2 class="psubtitulo">Coding is Love <span class="animationP"></span></h2>
                        <p class="ptexto">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, iusto cupiditate
                            voluptatum
                            impedit unde rem ipsa distinctio illum quae mollitia ut, accusantium eius odio ducimus illo
                            neque atque libero non sunt harum? Ipsum repellat animi, fugit architecto voluptatum odit
                            et! <span class="animationP"></span></p>
                    </div>
                    <div class="project-img">
                        <img src="../../../assets/img/project2.jpg" alt="img">
                    </div>
                </div>
                <div class="project-item">
                    <div class="project-info">
                        <h1 class="ptitulo">Project 3 <span class="animationP"></span></h1>
                        <h2 class="psubtitulo">Coding is Love <span class="animationP"></span></h2>
                        <p class="ptexto">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, iusto cupiditate
                            voluptatum
                            impedit unde rem ipsa distinctio illum quae mollitia ut, accusantium eius odio ducimus illo
                            neque atque libero non sunt harum? Ipsum repellat animi, fugit architecto voluptatum odit
                            et! <span class="animationP"></span></p>
                    </div>
                    <div class="project-img">
                        <img src="../../../assets/img/project3.jpg" alt="img">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Projects Section -->


    <!-- Photos Section -->
    <section id="photos">
        <div class="photos container">
            <div id="photoTitle">PHOTOGRAPHIES</div>
            <div id="photoSubTitle">Some of my photos</div>
            <div class="display">
                <div class="displayPhoto">
                    <img src="../../../assets/img/photo1.jpg" alt="">
                </div>
                <div class="displayPhotoBig">
                    <img src="../../../assets/img/photo2.jpg" alt="">
                </div>
                <div class="displayPhoto">
                    <img src="../../../assets/img/photo3.jpeg" alt="">
                </div>
                <div class="displayPhoto">
                    <img src="../../../assets/img/photo4.jpg" alt="">
                </div>
                <div class="displayPhoto">
                    <img src="../../../assets/img/photo5.jpg" alt="">
                </div>
            </div>

        </div>
    </section>
    <!-- End Photos Section -->


    <!-- Video Section -->
    <section id="video">
        <div class="video container">
            <div id="videoTitle">VIDEO</div>
            <div id="videoSubTitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis </div>
            <div class="player">
                <!-- <div id="btnVideoPrev">&lt</div> -->
                <video id="videoPlayer" src="../../../assets/video/test.mp4" controls></video>
                <!-- <div id="btnVideoNext">&gt</div> -->
            </div>

        </div>
    </section>
    <!-- End Video Section -->





    <!-- Footer -->
    <section id="footer">
        <div class="footer container">
            <h1 class="footer-title">Portfolio <span>template</span></h1>
            <h2>Your Complete Web Solution</h2>
            <div class="social-icon">
                <div class="social-item">
                    <a href="#"><img src="../../../assets/img/facebook.svg" /></a>
                </div>
                <div class="social-item">
                    <a href="#"><img src="../../../assets/img/instagram.svg" /></a>
                </div>
                <div class="social-item">
                    <a href="#"><img src="../../../assets/img/twitter.svg" /></a>
                </div>
                <div class="social-item">
                    <a href="#"><img src="../../../assets/img/linkedin.svg" /></a>
                </div>
            </div>
            <p>Copyright © 2020. All rights reserved</p>
        </div>
    </section>
    <!-- End Footer -->
</body>